* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  height: 10000px;
}
main {
  height: 100%;
}
header {
  position: sticky;
  top: 0;
  z-index: 30;
}
.parallax {
  background-image: url(../media/1920x1080-Banner-19.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.parallax h2 {
  padding: 20px;
}

.nav-item {
  padding: 0 5px;
  border-radius: 20px;
}

.nav-item:hover {
  background-color: bisque;
}
.head {
  padding: 8px 15px;
  list-style: none;
  background-color: #f8f9fa;
  border-radius: 4px;
}
.head li a {
  text-decoration: none;
}
.barra {
  padding-left: 3px;
  padding-right: 3px;
}
.login {
  margin: 0 5px;
}
.form {
  text-align: center;
}
.form label {
  display: block;
  padding: 3px;
  font-style: italic;
}
.form input {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 7px;
  transition: 1.5s;
}
.form input:focus {
  background-color: #80808059;
}
.modal-footer .register {
  border: #198754 1px solid;
  border-radius: 5px;
  padding: 10px 18px;
}
.modal-footer .register:hover {
  background-color: #198754;
}
.carrossel {
  display: flex;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}
.carousel-item {
  height: 30em;
}

.list{
  display: flex;
  width: 80%;
  margin: 10px auto;
}
.content-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 12px;
  max-width: 100%;
}
.card{
  width: 340px;
}
.new-page{
  border: #0d6efd 1px solid;
  border-radius: 5px;
  padding: 10px 18px;
  text-decoration: none;
  color: #0d6efd;
}
.new-page:hover{
  background-color: #0d6efd;
  color: #ffffff;
}
footer {
  background-color: #f8f9fa;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 29;
}
footer p {
  color: #000000;
}